body {
    /* background-image: url('images/starrry_night.jpeg'); */
    background-color: black;
    color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

nav {

    max-width: 90%;
    max-height: 10%;
    display: flex;
    flex-direction: row;
    margin: auto;
    /* margin: 20px 20px; */
    align-items: center;
}

.left-side-nav {
    width: 40%;
    max-height: 100%;
}

.right-side-nav {
    width: 60%;
    max-height: 100%;
}

.left-side-nav h1 {
    color: #86c232;
    font-size: 2.3em;
    /* text-align: center; */
}

.nav-menu li {
    display: inline-block;
    padding: 0px 30px;
    text-align: right;
}

.nav-menu {
    padding-left: 0;
    /* text-align: center; */
    /* display: flex;
    justify-content: space-evenly; */
}

.nav-menu li a {
    color: #86c232;
    text-decoration: none;
    font-size: 1.15em;


}


section {
    width: 90%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.left-side {
    width: 40%;
    max-height: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.right-side {
    width: 60%;
    max-height: 100%;
    background: rgba(255, 255, 255, 0.3);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 30px 40px;
    overflow: scroll;
}

.right-side h2 {
    color: #86c232;
}

.profile-pic {
    max-width: 40%;
    border-radius: 50%;
    margin: 30px;
    box-shadow: 0px 5px 20px #3f4042;
}

.Name {
    font-size: 2em;
    margin: 5px;
    font-weight: bold;
}

.Career {
    font-size: 1.3em;
    margin: 9px 15px;

}

.social-links li {
    list-style: none;
    display: inline;
    padding: 0 10px;
}

.social-links a {
    color: #252422;
    font-size: 1.4em;
}

.social-links ul {
    padding: 8px 5px;
    margin: 0 auto;
    max-width: 32%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
}

.social-links {
    margin-top: 30px;
}

.github-icon,
.linkedln-icon {
    text-decoration: none;
}

.social-links ul li a:hover {
    color: black;
    transition: 0.3s ease-in-out;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    text-align: center;
}

.projects .title-balance {
    padding-bottom: 20px;
    margin: 20px 0;
    width: 303px;
    text-transform: uppercase;
    font-size: 1.2em;
    border-bottom: 1px solid black;
}

.projects .title-ripple {
    padding-bottom: 20px;
    margin: 20px 0;
    width: 593px;
    text-transform: uppercase;
    font-size: 1.2em;
    border-bottom: 1px solid black;
}

.description {
    margin: 20px 0;
    margin-bottom: 60px;
}

.cv-button {
    font-size: 1em;
    margin-top: 40%;
    padding: 8px 13px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.cv-button a {
    text-decoration: none;
    color: #252422;
}

.cv-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}