body {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url("dark_mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#Bha_img {
    max-width: 50%;
    border-radius: 50%;
}

h2 {
    margin-bottom: 10px;
}

h4 {
    margin-top: 10px;
    font-weight: normal;
}

div.side-profile {
    /* border: 2px solid black; */
    width: 300px;
    text-align: center;
    color: whitesmoke;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 15px;
    font-family: Helvetica Neue, Proxima Nova, sans serif;
}

.cv-button {
    margin: 13px;
    padding: 5px 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.social-links li {
    list-style: none;
    display: inline-block;
    /* padding: 0px 5px; */
    padding: 0px 5px;
}

ul {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 3px 0px;
    border-radius: 25px;
}

.github-icon {
    color: whitesmoke;
}

.linkedln-icon {
    color: whitesmoke;
}

li:hover {
    color: black;
    transition: .3s;
}